---
import Fractal from '@/layouts/Fractal.astro';
import { mandelbrot } from '../../data/fractals';
---

<Fractal fractalInfo={mandelbrot}>
	<div>
		<label for="iterationsSlider">Iteracions</label>
		<input
			type="range"
			min="10"
			max="1000"
			id="iterationsSlider"
			value="1000"
		/>
	</div>
</Fractal>

<script src="../../opengl/mandelbrot/index.ts"></script>
